#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 > #backgroundBox {
  position: absolute;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 > #alignmentBox {
  position: relative;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle {
  position: absolute;
  width: 175.0000000000008px;
  min-height: 48.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle > .borderLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Line_1 {
  position: absolute;
  width: 1142.5535888671875px;
  height: 3.0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Image {
  position: absolute;
  width: 273.5325622558595px;
  height: 294.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_2 {
  position: absolute;
  width: 276.0000000000002px;
  min-height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_7 {
  position: absolute;
  width: 302.46743774414074px;
  min-height: 87.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input {
  position: absolute;
  width: 378.00000000000034px;
  height: 40.00000000000034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input .valign {
  vertical-align: middle;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph {
  position: absolute;
  width: 138.0442657470703px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 {
  position: absolute;
  width: 378.00000000000045px;
  height: 40.00000000000034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_1 {
  position: absolute;
  width: 221.0442657470703px;
  min-height: 43.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Button {
  position: absolute;
  width: 152.00000000000023px;
  min-height: 44.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Button span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 #s-Button span#rtr-s-Button_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-12a91df5-4922-4ec2-8940-e1a26fcdc069 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
