#s-86be36ca-e44f-4760-ba64-5b3be327f54e > #backgroundBox {
  position: absolute;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e > #alignmentBox {
  position: relative;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_1 {
  position: absolute;
  width: 1280.0000000000002px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #03022D;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle {
  position: absolute;
  width: 558.0000000000003px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle > .borderLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Line_1 {
  position: absolute;
  width: 1159.6785888671875px;
  height: 3.0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Image {
  position: absolute;
  width: 273.5325622558595px;
  height: 294.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_2 {
  position: absolute;
  width: 276.0000000000002px;
  min-height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_7 {
  position: absolute;
  width: 302.46743774414074px;
  min-height: 87.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_1 {
  position: absolute;
  width: 221.0442657470703px;
  min-height: 43.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_3 {
  position: absolute;
  width: 335.23370361328125px;
  min-height: 44.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_4 {
  position: absolute;
  width: 263.04426574707054px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_5 {
  position: absolute;
  width: 178.06639862060638px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_10 {
  position: absolute;
  width: 1280.0px;
  min-height: 167.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #090325;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_10 span {
  color: #150231;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #150231;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_15 {
  position: absolute;
  width: 618.2544642857142px;
  min-height: 101.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_2 {
  position: absolute;
  width: 527.7734501687861px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_3 {
  position: absolute;
  width: 527.7734501687861px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_3 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_4 {
  position: absolute;
  width: 527.7734501687861px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_4 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_5 {
  position: absolute;
  width: 527.7734501687861px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_5 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_5 span#rtr-s-Text_5_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_6 {
  position: absolute;
  width: 527.7734501687861px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_6 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Text_6 span#rtr-s-Text_6_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Radio_button {
  position: absolute;
  width: 25.999999999999886px;
  height: 28.68488767180446px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 {
  position: absolute;
  width: 503.28608432189174px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 {
  position: absolute;
  width: 116.21386406454246px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Radio_button_1 {
  position: absolute;
  width: 25.999999999999886px;
  height: 28.68488767180446px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Radio_button_2 {
  position: absolute;
  width: 25.999999999999886px;
  height: 28.68488767180446px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Radio_button_3 {
  position: absolute;
  width: 25.999999999999886px;
  height: 28.68488767180446px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Radio_button_4 {
  position: absolute;
  width: 25.999999999999886px;
  height: 28.68488767180446px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Input {
  position: absolute;
  width: calc(282.0px - 71px);
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Input .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button {
  position: absolute;
  width: 189.0px;
  min-height: 61.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph {
  position: absolute;
  width: 240.32811737060547px;
  min-height: 20.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #D9D9D9;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button_1 {
  position: absolute;
  width: 189.0px;
  min-height: 61.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-86be36ca-e44f-4760-ba64-5b3be327f54e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
