#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b > #backgroundBox {
  position: absolute;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b > #alignmentBox {
  position: relative;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle {
  position: absolute;
  width: 283.0000000000009px;
  min-height: 49.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle > .borderLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Line_1 {
  position: absolute;
  width: 1142.5535888671875px;
  height: 3.0px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Image {
  position: absolute;
  width: 273.5325622558595px;
  height: 294.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_2 {
  position: absolute;
  width: 276.0000000000002px;
  min-height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_7 {
  position: absolute;
  width: 302.46743774414074px;
  min-height: 87.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Text_1 {
  position: absolute;
  width: 138.68359375px;
  min-height: 54.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Button {
  position: absolute;
  width: 152.00000000000023px;
  min-height: 44.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Button span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Button span#rtr-s-Button_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_1 {
  position: absolute;
  width: 728.9999999999998px;
  min-height: 168.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-ab12bcb4-f11f-46c2-906a-b61bd261a93b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
