#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 {
  position: absolute;
  width: 723.7455357142858px;
  min-height: 208.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #2E3AC5;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 {
  position: absolute;
  width: 512.6804112025668px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 > .borderLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  position: absolute;
  width: 1385.9732666015625px;
  height: 3.0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  width: 1391.0000000000002px;
  min-height: 15.83928571428578px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #1E6BF1;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  position: absolute;
  width: 1467.475213583113px;
  height: 328.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle {
  position: absolute;
  width: 1460.0000000000007px;
  min-height: 26.000000000000085px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #E3DDAE;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image {
  position: absolute;
  width: 273.5325622558595px;
  height: 294.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  position: absolute;
  width: 1460.0000000000007px;
  min-height: 39.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph {
  position: absolute;
  width: 499.06512451171875px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 56.0px;
  height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  position: absolute;
  width: 38.0px;
  height: 45.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  position: absolute;
  width: 100.8544921875px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
  position: absolute;
  width: 331.9999999999998px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
  position: absolute;
  width: 231.8541996830428px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
  position: absolute;
  width: 236.8541996830429px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
  position: absolute;
  width: 229.8541996830429px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 {
  position: absolute;
  width: 243.8541996830428px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: 276.0000000000002px;
  min-height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 {
  position: absolute;
  width: 302.46743774414074px;
  min-height: 87.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 {
  position: absolute;
  width: 239.01243648557374px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #2A20D2;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
  position: absolute;
  width: 1467.4752135831131px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #323740;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_1 {
  position: absolute;
  width: 533.6835327148438px;
  height: 364.3228454589844px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 {
  position: absolute;
  width: 292.0000000000001px;
  min-height: 89.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 35.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 35.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 {
  position: absolute;
  width: 774.745535714286px;
  min-height: 120.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_24 {
  position: absolute;
  width: 133.00000000000023px;
  height: 103.0px;
  opacity: 0.54;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 {
  position: absolute;
  width: 1014.0px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_25 {
  position: absolute;
  width: 126.00000000000021px;
  height: 74.99999999999955px;
  opacity: 0.52;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 {
  position: absolute;
  width: 1083.9999999999995px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_26 {
  position: absolute;
  width: 104.23371887207043px;
  height: 90.91964285714266px;
  opacity: 0.45;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 {
  position: absolute;
  width: 1083.9999999999995px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_27 {
  position: absolute;
  width: 89.11685943603545px;
  height: 80.36607142857156px;
  opacity: 0.54;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 {
  position: absolute;
  width: 1083.9999999999995px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  position: absolute;
  width: 1467.4752135831125px;
  height: 332.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button {
  position: absolute;
  width: 268.47445896693614px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #D9D9D9 0.001%, #E6E6E6 99.99999999999997%);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button span#rtr-s-Button_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  width: 268.47445896693614px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #D9D9D9 0.001%, #E6E6E6 99.99999999999997%);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_10 {
  position: absolute;
  width: 71.00000000000045px;
  height: 58.09817804609065px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_32 {
  position: absolute;
  width: 62.99107142857224px;
  height: 58.549089023045326px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_28 {
  position: absolute;
  width: 56.0px;
  height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 {
  position: absolute;
  width: 618.2544642857142px;
  min-height: 101.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
  position: absolute;
  width: 204.50892857142958px;
  height: 194.33035714285694px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 {
  position: absolute;
  width: 185.74553571428623px;
  min-height: 59.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 > .borderLayer {
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_20 {
  position: absolute;
  width: 76.00000000000045px;
  height: 54.16959176419732px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 {
  position: absolute;
  width: 239.01243648557374px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
